*{
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    font-family: 'Open Sans',sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    padding: none;
    margin: 0;
}
.message__body {
    display: flex;
    justify-content: space-between;
}

.chat__container {
    background-color:#FED766;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
    height: 100%;
}
.title__container {
    display: flex;
}

.img__cat {
    height:4rem;
    width:4rem;
}
.menu__container {
    /* border: solid 1px black; */
    width: 20%;
    height:100%;
    background-color:#FE4A49;
}

.text__span {
    font-weight: 700;
    color:blue;
}
.text__title {
    margin:0;
    font-size: 2rem;
    align-self: flex-start;
    font-family: 'Amatic SC',cursive;
}

.message__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message__field {
    border: 0px solid black;
    box-shadow: -4px 5px 0 black;
    font-family: 'Lato',sans-serif;
}


.message__list {
    min-height:50%;
    box-shadow: -2px 3px 0 #999999;
    margin: 0;
    padding: 0.5rem;
    background-color:#F6F4F3;
    margin: 0.2rem;
    width: 100%;
}
.message__item {
    list-style-type:none;

}

.message__input {
    background-color:#E6E6EA;
    margin-bottom: 1rem;
    border:none;
    font-family: 'Lato',sans-serif;
    padding: 0.3rem;
    width:100%;
    height:5rem
}
.submit__button {
    font-family: 'Lato',sans-serif;
    font-size: 1.2rem;
    background-color: #009FB7;
    border:none;
    width: 8rem;
    margin:1rem
}

.submit__button__location {
}
