*{
    box-sizing: border-box;
}
body {
    background-color: skyBlue;
    font-family: 'Lato',sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    padding: none;
    margin: 0;
}
.from {

}

.chat__container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.menu__container {
    border: solid 1px black;
    width: 20%;
    height:100%;
    background-color:#008040

}

.title {
    font-size: 2rem;
    align-self: flex-start;
    font-family: 'Fascinate Inline',cursive;
}
#message-form {
    display: flex;
    flex-direction: column;
}
.message__field {
    border: 0px solid black;
    box-shadow: -4px 5px 0 black;
    font-family: 'Lato',sans-serif;
}
.class {
    border: none;
}
.message__input {
    margin-bottom: 1rem;
    border:none;
    font-family: 'Lato',sans-serif;
    padding: 0.3rem;
}
.submit__button {
    margin-top:1em;
    font-family: 'Lato',sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    border:none;
}
